$black: #000000;
$red-secondary: rgb(116, 19, 19);
$red-primary: rgb(183, 35, 35);
$glow: rgb(255, 255, 255);
$glow-fade: rgb(239, 159, 30);


.lights-container {
    width: 100%;
    height: 100px;
    background-color: $black;
    display: flex;

    .led {
        flex: 1;
        min-width: 50px;
        height: 50px;
        background: $red-secondary;
        background: radial-gradient(circle, $red-primary 0%, $red-secondary 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .led-glow {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 5%, rgba(248, 150, 3, 0.5) 30%, rgba(248, 150, 3, 0) 50%);
        opacity: 0;
        // transition: 1s;
    }


    // .animate {
    //     animation: led-blink 0.3s linear forwards;
    //     background: radial-gradient(circle, rgba(255, 255, 255, 1) 5%, rgba(248, 150, 3, 0.5) 30%, rgba(248, 150, 3, 0) 50%);
    // }


}

/*-- blinking cursor -- */
// @keyframes led-blink {

//     0%,
//     50% {
//         opacity: 0;
//     }

//     51%,
//     100% {
//         opacity: 1;
//     }
// }

// @keyframes led-blink {

//     0% {
//         opacity: 1;
//     }

//     100% {
//         opacity: 0;
//     }

// }

// @keyframes fadein {

//     0%,
//     100% {
//         opacity: 0;
//     }

//     50% {
//         opacity: 1;
//     }

// }